fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

langgraph

transformers
huggingface-hub
groq

tavily-python

python-dotenv
langchain-tavily
streamlit
requests
pypdf
sentence-transformers
torch

